/* CSS NORMALISE -  https://www.joshwcomeau.com/css/custom-css-reset/*/

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* END CSS NORMALISATION */

:root {
  --low-priority: #afd670;
  --low-priority-secondary: #e3edd5;
  --medium-priority: #fcdb88;
  --medium-priority-secondary: #f7e7bf;
  --high-priority: #ee6969;
  --high-priority-secondary: #fddfe1;
  --parchment: #f4edea;
  --platinum: #ebebeb;
  --charcoal: #333231;
  --shadow-colour: #dedcdc;
  --nav-background: #87b3ff;
}

body,
html {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: grid;
  grid-template-columns: 2fr 8fr;
}

nav {
  height: 100%;
  background-color: var(--nav-background);
  grid-column: 1/2;
  grid-row: 1/3;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 15px 0 0 20px;
}

nav button {
  margin-bottom: 15px;
}

nav ul {
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

nav li {
  list-style: none;
}

nav li a {
  font-size: 1.5em;
  text-decoration: none;
  color: var(--charcoal);
}

nav li a:hover {
  font-size: 1.7 em;
}

.new-project-button {
  width: 85%;
  margin-top: 30px;
}

.projects-nav {
  width: 85%;
  border-top: solid 1px #333231;
  margin-top: 12px;
  padding-top: 25px;
  display: flex;
  flex-direction: column;
}

.project-card-container {
  border-radius: 20px;
  box-shadow: 0.1em 0.6em 1em var(--shadow-colour);
  display: flex;
}

.project-card-container:hover {
  position: relative;
  top: -3px;
  box-shadow: 0.3em 0.8em 1.5em var(--shadow-colour);
}

.project-complete-container {
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px 0 0 20px;
  background-color: var(--charcoal);
}

.project-content-container {
  padding: 20px;
  width: 100%;
}

.project-title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project-title-container h1 {
  font-family: 600;
  font-size: 3em;
}

.project-description-container {
  margin: 10px 0px 15px 0px;
}

.project-title-container h1 {
  margin-right: 3%;
}

.project-buttons-container {
  display: flex;
}

.content-container {
  grid-column: 2/3;
  grid-row: 1/2;
}

button {
  height: 40px;
  padding: 0 15px 0 15px;
  margin-right: 10px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  font-size: 1em;
}

.project-container {
  display: flex;
  flex-direction: column;
  padding: 5%;
}

.tasks-container {
  margin-top: 5%;
}

.task-container {
  width: 100%;
  margin-top: 3%;
  display: flex;
  border-radius: 20px;
  box-shadow: 0.1em 0.6em 1em var(--shadow-colour);
}

.task-container:hover {
  position: relative;
  top: -3px;
  box-shadow: 0.3em 0.8em 1.5em var(--shadow-colour);
}

.task-container.high {
  background-color: var(--high-priority-secondary);
}

.task-container.medium {
  background-color: var(--medium-priority-secondary);
}

.task-container.low {
  background-color: var(--low-priority-secondary);
}

.task-content-container {
  margin: 10px;
  width: 100%;
  padding: 10px;
}

.task-priority {
  width: 40px;
  border-radius: 20px 0px 0px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.task-priority.high {
  background-color: var(--high-priority);
}

.task-priority.medium {
  background-color: var(--medium-priority);
}

.task-priority.low {
  background-color: var(--low-priority);
}

.task-container summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task-container summary h3 {
  font-size: 2em;
  font-weight: 600;
}

.task-container summary h4 {
  font-size: 1rem;
}

.task-container summary:hover {
  cursor: pointer;
}

.task-container details p {
  margin-top: 10px;
}

.task-buttons-container {
  margin-top: 15px;
}

dialog {
  padding: 25px;
  border-radius: 20px;
  box-shadow: 0.1em 0.6em 1em #333231;
  border: none;
  position: absolute;
  /* top: 20%;
  left: 50%; */
}

dialog h3 {
  font-size: 2em;
}

dialog div {
  margin-top: 15px;
}

dialog button {
  margin-top: 15px;
}
